
.SummonerLayout>.Header{position:relative;width:1000px;margin:0 auto;padding:30px 0 0 0;}
.Contentzs{background:rgba(0,0,0,0.578);margin-bottom:20px;overflow:hidden;}
.SummonerLayout>.ContentWrap>.Content{width:1000px;min-height:500px;margin:0 auto;}


.MenuList{width:970px;margin:0 auto;padding:0;margin-bottom:15px;}
.MenuList>.Item{display:inline-block;margin:0 30px -1px 0;padding:0;border-bottom:1px solid transparent;vertical-align:middle;}
.MenuList>.Item:hover>.SubMenuList{display:block;}
.MenuList>.Item>.Link{display:block;color:lightgrey;font-size:28px;line-height:39px;text-decoration:none;letter-spacing:-1px;padding-bottom:5px;}
.MenuList>.Item>.Link>.Logo{display:inline-block;width:40px;height:37px;vertical-align:middle;}
.MenuList>.Item.active{border-color:lightblue;}
.MenuList>.Item.active>.Link{font-weight:bold;letter-spacing:inherit;color:lightblue;}




.ChampionRankingLayout>.ContentWrap{width:970px;margin:0 auto;min-height:500px;font-size:0; margin-top:40px; margin-bottom:50px;}
.ChampionRankingLayout>.ContentWrap>.Content>.SideContent{display:inline-block;width:282px;}
.ChampionRankingLayout>.ContentWrap>.Content>.RealContent{display:inline-block;width:678px;margin-left:10px;vertical-align:top;}
.ChampionRankingLayout>.ContentWrap>.Content>.RealContent>.ChampionRankingSummaryWrap{margin-left:-10px;}
.ChampionRankingFilterBox{border-color:#000;}
.ChampionRankingFilterBox>.SearchChampion{padding:10px;border-bottom:1px solid #000;background-color:#12121b;}
.ChampionRankingFilterBox>.SearchChampion>.SearchChampionForm{position:relative;}
.ChampionRankingFilterBox>.SearchChampion>.SearchChampionForm>.SearchInput{display:block;width:100%;padding:12px 35px 12px 10px;border:1px solid #000;color:#9FA6A6;background:#3C3C44;font-size:12px;box-sizing:border-box;outline:none;}
.ChampionRankingFilterBox>.SearchChampion>.SearchChampionForm>.SearchInput:focus{border-color:#1f8ecd;}
.ChampionRankingFilterBox>.SearchChampion>.SearchChampionForm>.Icon{position:absolute;top:0;right:0;border:none;background:none;padding:13px 10px;}
.ChampionRankingFilterBox>.SelectChampion{background-color:#12121b;margin:10px 0 0 8px;}
.ChampionRankingFilterBox>.SelectChampion>.Champion{display:inline-block;width:60px;height:80px;margin:0 8px 10px 0;}
.ChampionRankingFilterBox>.SelectChampion>.Champion>.Action{text-decoration:none;}
.ChampionRankingFilterBox>.SelectChampion>.Champion>.Action>.ChampionImage{position:relative;font-size:0;}
.ChampionRankingFilterBox>.SelectChampion>.Champion>.Action>.ChampionImage>.Image{width:60px;height:60px;}
.ChampionRankingFilterBox>.SelectChampion>.Champion>.Action>.ChampionImage>.selected{display:none;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 180, 255, 0.8);padding:18px 19px 18px 18px;}
.ChampionRankingFilterBox>.SelectChampion>.Champion>.Action>.ChampionName{padding-top:8px;color:#9FA6A6;font-size:12px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ChampionRankingFilterBox>.SelectChampion>.Champion.selected>.Action>.ChampionImage>.selected{display:block;}

.ChampionRankingLayout>.ContentWrap>.Content>.RealContent{display:inline-block;width:678px;margin-left:10px;vertical-align:top;}
.ChampionRankingLayout>.ContentWrap>.Content>.RealContent>.ChampionRankingSummaryWrap{margin-left:-10px;}





.ChampionRankingBox{border-color:#000;}
.ChampionRankingBox>.Table{width:100%;table-layout:fixed;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell{border-bottom:1px solid #000;background-color:#12121b;height:50px;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.Rank{color:#1f8ecd;font-size:15px;text-align:center;vertical-align:middle;font-weight: bold;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.championimg{vertical-align:middle;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.championimg>.Link>.Image{width:34px;height:34px;border-radius:50%;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.SummonerName{padding-left:5px;padding-right:5px; vertical-align:middle;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.SummonerName>.Link{display:inline-block;max-width:100%;color:#565858;font-size:16px;font-weight:bold;text-decoration:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.TierMedal{vertical-align:middle;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.TierMedal>.Image{width:42.5px;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.TierRank{color:#879292;font-size:15px;text-align:center; vertical-align:middle;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.MasteryRank{color:#879292;font-size:15px;text-align:center;vertical-align:middle;}
.ChampionRankingBox>.Table>.Body>.Row>.Cell.MasteryChampionPoints{color:#B8BABA;font-size:15px;text-align:center;vertical-align:middle;}



.ChampionRankingSummaryBox>.Title,.ChampionRankingBox>.Title{display:block;padding:8px 0 8px 14px;border-bottom:1px solid #000;color:#879292;font-size:17px;line-height:24px;text-decoration:none;font-weight:normal;}
.ChampionRankingSummaryBox>.Title>.ChampionImage,.ChampionRankingBox>.Title>.ChampionImage{width:28px;height:28px;border-radius:50%;vertical-align:middle;}
.ChampionRankingSummaryBox>.Title>.ChampionName,.ChampionRankingBox>.Title>.ChampionName{color:#555e5e;font-size:15px;font-weight:bold;vertical-align:middle;}



.ChampionRankingSummaryBox>.Content>.Table{width:100%;table-layout:fixed;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell{height:44px;background-color:#12121b;border-top:1px solid #000;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.Rank{color:#242929;font-size:14px;text-align:center;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.SummonerImage>.Link>.Image{width:34px;height:34px;border-radius:50%;vertical-align:middle;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.SummonerName{text-indent:8px;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.SummonerName>.Link{display:block;color:#454c4c;font-size:13px;font-weight:bold;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.SummonerName>.Link:hover{text-decoration:underline;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.SummonerImage:hover+.SummonerName>.Link{text-decoration:underline;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row>.Cell.GameCount{color:#555e5e;font-size:13px;text-align:right;padding-right:20px;white-space:nowrap;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row.Top>.Cell.Rank,.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row.SemiTop>.Cell.Rank{color:#1f8ecd;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row.Top>.Cell{background-color:#fdf2d2;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row.SemiTop>.Cell{background-color:#e8eaea;}
.ChampionRankingSummaryBox>.Content>.Table>.Content>.Row:first-child>.Cell{border-top:none;}
.LadderRankingTable>.Body>.Row.Selected>.Cell.Rank{border-left:2px solid #1f8ecd;}

.LadderRankingTable>.Body>.Row>.Cell.SummonerImage:hover+.SummonerName>.Link{text-decoration:underline;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName{color:#454c4c;font-size:15px;font-weight:bold;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName>.Link{display:inline-block;max-width:140px;margin-left:10px;color:inherit;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName>.Link:hover{text-decoration:underline;}


.LadderRankingTable>.Body>.Row>.Cell.SummonerImage:hover+.SummonerName>.Link{text-decoration:underline;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName{color:#454c4c;font-size:15px;font-weight:bold;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName>.Link{display:inline-block;max-width:140px;margin-left:10px;color:inherit;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.LadderRankingTable>.Body>.Row>.Cell.SummonerName>.Link:hover{text-decoration:underline;}

.Boxchampladder {
   border: 1px solid #000;
  background: #12121b;
  border-radius: 2px;
}





.__sprite{display:inline-block;}
.imgsizes{background-size:60px;}

.__spcall{background-image:url(../img/lollogo.jpg);}
.__spcaatrox{background-image:url(../img/champion/Aatrox.png);}
.__spcahri{background-image:url(../img/champion/Ahri.png);}
.__spcakali{background-image:url(../img/champion/Akali.png);}
.__spcalistar{background-image:url(../img/champion/Alistar.png);}
.__spcamumu{background-image:url(../img/champion/Amumu.png);}
.__spcanivia{background-image:url(../img/champion/Anivia.png);}
.__spcannie{background-image:url(../img/champion/Annie.png);}
.__spcashe{background-image:url(../img/champion/Ashe.png);}
.__spcaurelionsol{background-image:url(../img/champion/AurelionSol.png);}
.__spcazir{background-image:url(../img/champion/Azir.png);}
.__spcbard{background-image:url(../img/champion/Bard.png);}
.__spcblitzcrank{background-image:url(../img/champion/Blitzcrank.png);}
.__spcbrand{background-image:url(../img/champion/Brand.png);}
.__spcbraum{background-image:url(../img/champion/Braum.png);}
.__spccaitlyn{background-image:url(../img/champion/Caitlyn.png);}
.__spccassiopeia{background-image:url(../img/champion/Cassiopeia.png);}
.__spcchogath{background-image:url(../img/champion/Chogath.png);}
.__spccorki{background-image:url(../img/champion/Corki.png);}
.__spcdarius{background-image:url(../img/champion/Darius.png);}
.__spcdiana{background-image:url(../img/champion/Diana.png);}
.__spcdraven{background-image:url(../img/champion/Draven.png);}
.__spcdrmundo{background-image:url(../img/champion/DrMundo.png);}
.__spcekko{background-image:url(../img/champion/Ekko.png);}
.__spcelise{background-image:url(../img/champion/Elise.png);}
.__spcevelynn{background-image:url(../img/champion/Evelynn.png);}
.__spcezreal{background-image:url(../img/champion/Ezreal.png);}
.__spcfiddlesticks{background-image:url(../img/champion/FiddleSticks.png);}
.__spcfiora{background-image:url(../img/champion/Fiora.png);}
.__spcfizz{background-image:url(../img/champion/Fizz.png);}
.__spcgalio{background-image:url(../img/champion/Galio.png);}
.__spcgangplank{background-image:url(../img/champion/Gangplank.png);}
.__spcgaren{background-image:url(../img/champion/Garen.png);}
.__spcgnar{background-image:url(../img/champion/Gnar.png);}
.__spcgragas{background-image:url(../img/champion/Gragas.png);}
.__spcgraves{background-image:url(../img/champion/Graves.png);}
.__spchecarim{background-image:url(../img/champion/Hecarim.png);}
.__spcheimerdinger{background-image:url(../img/champion/Heimerdinger.png);}
.__spcillaoi{background-image:url(../img/champion/Illaoi.png);}
.__spcirelia{background-image:url(../img/champion/Irelia.png);}
.__spcjanna{background-image:url(../img/champion/Janna.png);}
.__spcjarvan{background-image:url(../img/champion/JarvanIV.png);}
.__spcjax{background-image:url(../img/champion/Jax.png);}
.__spcjayce{background-image:url(../img/champion/Jayce.png);}
.__spcjhin{background-image:url(../img/champion/Jhin.png);}
.__spcjinx{background-image:url(../img/champion/Jinx.png);}
.__spckalista{background-image:url(../img/champion/Kalista.png);}
.__spckarma{background-image:url(../img/champion/Karma.png);}
.__spckarthus{background-image:url(../img/champion/Karthus.png);}
.__spckassadin{background-image:url(../img/champion/Kassadin.png);}
.__spckatarina{background-image:url(../img/champion/Katarina.png);}
.__spckayle{background-image:url(../img/champion/Kayle.png);}
.__spckennen{background-image:url(../img/champion/Kennen.png);}
.__spckhazix{background-image:url(../img/champion/Khazix.png);}
.__spckindred{background-image:url(../img/champion/Kindred.png);}
.__spckogmaw{background-image:url(../img/champion/KogMaw.png);}
.__spcleblanc{background-image:url(../img/champion/Leblanc.png);}
.__spcleesin{background-image:url(../img/champion/LeeSin.png);}
.__spcleona{background-image:url(../img/champion/Leona.png);}
.__spclissandra{background-image:url(../img/champion/Lissandra.png);}
.__spclucian{background-image:url(../img/champion/Lucian.png);}
.__spclulu{background-image:url(../img/champion/Lulu.png);}
.__spclux{background-image:url(../img/champion/Lux.png);}
.__spcmalphite{background-image:url(../img/champion/Malphite.png);}
.__spcmalzahar{background-image:url(../img/champion/Malzahar.png);}
.__spcmaokai{background-image:url(../img/champion/Maokai.png);}
.__spcmasteryi{background-image:url(../img/champion/MasterYi.png);}
.__spcmissfortune{background-image:url(../img/champion/MissFortune.png);}
.__spcmordekaiser{background-image:url(../img/champion/Mordekaiser.png);}
.__spcmorgana{background-image:url(../img/champion/Morgana.png);}
.__spcnami{background-image:url(../img/champion/Nami.png);}
.__spcnasus{background-image:url(../img/champion/Nasus.png);}
.__spcnautilus{background-image:url(../img/champion/Nautilus.png);}
.__spcnidalee{background-image:url(../img/champion/Nidalee.png);}
.__spcnocturne{background-image:url(../img/champion/Nocturne.png);}
.__spcnunu{background-image:url(../img/champion/Nunu.png);}
.__spcolaf{background-image:url(../img/champion/Olaf.png);}
.__spcorianna{background-image:url(../img/champion/Orianna.png);}
.__spcpantheon{background-image:url(../img/champion/Pantheon.png);}
.__spcpoppy{background-image:url(../img/champion/Poppy.png);}
.__spcquinn{background-image:url(../img/champion/Quinn.png);}
.__spcrammus{background-image:url(../img/champion/Rammus.png);}
.__spcreksai{background-image:url(../img/champion/RekSai.png);}
.__spcrenekton{background-image:url(../img/champion/Renekton.png);}
.__spcrengar{background-image:url(../img/champion/Rengar.png);}
.__spcriven{background-image:url(../img/champion/Riven.png);}
.__spcrumble{background-image:url(../img/champion/Rumble.png);}
.__spcryze{background-image:url(../img/champion/Ryze.png);}
.__spcsejuani{background-image:url(../img/champion/Sejuani.png);}
.__spcshaco{background-image:url(../img/champion/Shaco.png);}
.__spcshen{background-image:url(../img/champion/Shen.png);}
.__spcshyvana{background-image:url(../img/champion/Shyvana.png);}
.__spcsinged{background-image:url(../img/champion/Singed.png);}
.__spcsion{background-image:url(../img/champion/Sion.png);}
.__spcsivir{background-image:url(../img/champion/Sivir.png);}
.__spcskarner{background-image:url(../img/champion/Skarner.png);}
.__spcsona{background-image:url(../img/champion/Sona.png);}
.__spcsoraka{background-image:url(../img/champion/Soraka.png);}
.__spcswain{background-image:url(../img/champion/Swain.png);}
.__spcsyndra{background-image:url(../img/champion/Syndra.png);}
.__spctahmkench{background-image:url(../img/champion/TahmKench.png);}
.__spctalon{background-image:url(../img/champion/Talon.png);}
.__spctaric{background-image:url(../img/champion/Taric.png);}
.__spcteemo{background-image:url(../img/champion/Teemo.png);}
.__spcthresh{background-image:url(../img/champion/Thresh.png);}
.__spctristana{background-image:url(../img/champion/Tristana.png);}
.__spctrundle{background-image:url(../img/champion/Trundle.png);}
.__spctryndamere{background-image:url(../img/champion/Tryndamere.png);}
.__spctwistedfate{background-image:url(../img/champion/TwistedFate.png);}
.__spctwitch{background-image:url(../img/champion/Twitch.png);}
.__spcudyr{background-image:url(../img/champion/Udyr.png);}
.__spcurgot{background-image:url(../img/champion/Urgot.png);}
.__spcvarus{background-image:url(../img/champion/Varus.png);}
.__spcvayne{background-image:url(../img/champion/Vayne.png);}
.__spcveigar{background-image:url(../img/champion/Veigar.png);}
.__spcvelkoz{background-image:url(../img/champion/Velkoz.png);}
.__spcvi{background-image:url(../img/champion/Vi.png);}
.__spcviktor{background-image:url(../img/champion/Viktor.png);}
.__spcvladimir{background-image:url(../img/champion/Vladimir.png);}
.__spcvolibear{background-image:url(../img/champion/Volibear.png);}
.__spcwarwick{background-image:url(../img/champion/Warwick.png);}
.__spcwukong{background-image:url(../img/champion/Wukong.png);}
.__spcxerath{background-image:url(../img/champion/Xerath.png);}
.__spcxinzhao{background-image:url(../img/champion/XinZhao.png);}
.__spcyasuo{background-image:url(../img/champion/Yasuo.png);}
.__spcyorick{background-image:url(../img/champion/Yorick.png);}
.__spczac{background-image:url(../img/champion/Zac.png);}
.__spczed{background-image:url(../img/champion/Zed.png);}
.__spcziggs{background-image:url(../img/champion/Ziggs.png);}
.__spczilean{background-image:url(../img/champion/Zilean.png);}
.__spczyra{background-image:url(../img/champion/Zyra.png);}




